*{
    box-sizing: border-box; 
    font-family:"Poppins";
}
body{
    background: #43C6AC;  
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  
    background: linear-gradient(to right, #191654, #43C6AC); 
}
.container{
    background-color: white;
    height:30rem;
    width:25rem;
    border:none;
    border-radius:1.5rem;
    margin:auto;
}
h2{
    font-weight:bold;
    text-align: center;
    padding:0.6rem 4rem;
}
.inputs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:1.2rem; 
}
.inputs input{
    padding:0.6rem 4rem;
    text-align:left;
    /* text-transform:uppercase; */
    border:1px solid black;
    border-radius: 0.5rem;
}
button{
    padding:0.8rem 1.8rem;
    border:1px solid black;
    border-radius:2rem;
    text-transform: uppercase;
    background-color: white;
    font-size:0.9rem;
    font-weight:bold;
    margin-top:2rem;
    cursor:pointer;
    transition:0.4s;
}
button:hover{
    color:white;
    background-color: black;
}
